@use 'base/variables' as v;

.alerta{
  padding: calc(v.$separacion / 4);
  color: v.$whiteColor;
  width: 100%;
  display: block;
  // margin: 0 auto;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: v.$bold;
  text-transform: uppercase;
  opacity: 1;
  visibility: visible;
  transition: all 1s ease-out;

  &.error{
    background-color: v.$redColor;
  }
  
  &.exito{
    background-color: v.$greenColor;
  }

  &.active{
    opacity: 0;
    visibility: hidden;
  }
}