@use 'base/variables' as v;

.menu{
  background-color: v.$secondColor;
  color: v.$whiteColor;
  min-height: 100vh;
  width: 100%;

  button{
    color: inherit;
    background-color: v.$titleColor;
    padding: 1.5rem 1rem;
    text-align:center;
    font-weight: v.$bold;
    width: 100%;
    border: none;
    transition: all .5s ease-in-out;

    &:hover{
      cursor: pointer;
      background-color: darken(v.$titleColor,10%);
      color: lighten(v.$whiteColor,10%);
    }
  }
}


.navegacion{

  details{
    padding: 1rem 2rem;

    &.active{
      padding: 0;
      margin: 1rem 0;
      
      summary{
        transition: all .7s ease-in-out;
        padding-left: 0;
        justify-content: center;

      }
    }
  }

  summary{
    display: flex;
    align-items: center;
    gap: calc(v.$separacion / 2);
    padding-left: 2rem;
    transition: opacity 0.5s ease-out;

    &:hover{
      opacity: .7;
      cursor: pointer;
    }
  }
}

.opciones{
  display: flex;
  flex-direction: column;

  a{
    display: inherit;
    align-items: center;
    gap: calc(v.$separacion / 2);
    color: v.$whiteColor;
    padding: .5rem;
    padding-left: 2rem;
    margin-left: 1rem;
    transition: color 0.5s ease-out;

    &:hover{
      color: v.$linkColor;
    }
  }
}