// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$firstColor: #008080;
$firstAlphaColor: #00808080;
$secondColor: #14192D;
$secondAlphaColor:#14192D80;
$thirdColor: #CD5C5C;
$thirdAlphaColor: #CD5C5C80;

$blackColor: #000000;
$blackAlphaColor: #0005;
$whiteColor: #FFFFFF;
$whiteAlphaColor: #FFF5;
$grayLightColor: #F3F3F3;
$grayColor: #CCCCCC;
$grayDarkColor: #666666;
$linkColor: #509EE3;
$textColor: #333333;
$titleColor: #222222;
$redColor: #cb0000;
$greenColor:#329f00;
$blueColor: #2020d9;
$blueAlphaColor: #2020d980;
$yellowColor: #b8a11e;

$separacion: 5rem;
$maxWidth: 120rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900