@use 'base/mixins' as m;
@use 'base/variables' as v;

.titulo-dashboard{
  display: flex;
  align-items: center;
  gap: calc( v.$separacion / 4);
  margin: .5rem;

  .text-left{
    margin: 0;
  }

  p{
    color: v.$grayDarkColor;
  }
}

.estadisticas{
  @include m.grid(3,calc(v.$separacion / 2));

  justify-items: center;
  grid-template-areas:
  "grafico-ventas grafico-ventas grafico-ventas"
  "graficos-torta-barra graficos-torta-barra graficos-torta-barra";

  max-width: 100%;

  .grafico-ventas{
    grid-area: grafico-ventas;
  }

  .graficos-torta-barra{
    display: flex;
    gap: calc( v.$separacion / 2);
    grid-area: graficos-torta-barra;
  }

}