@use 'base/variables' as v;
@use 'base/mixins' as m;

.seccion{
  display: none;
  padding: v.$separacion 0;
  
  h2{
    color: v.$whiteColor;
  }

  &.mostrar{
    display: block;
  }

  &.ocultar{
    display: none;
  }

}

.habitacion-filtros{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
  gap: 1rem;
    
  justify-items: center;
  margin-bottom: 1rem;

  

  .boton-volver{
    margin: 0;
    margin-bottom: inherit;
  }
}