@use 'base/variables' as v;
@use 'base/mixins' as m;

.listado-servicios{
  display: grid;
  gap: 2rem;

  @include m.tablet {
    @include m.grid(2,2rem);
  }

  .servicio{
    background-color: v.$whiteColor;
    padding: 3rem;
    border-radius: 1rem;
    text-align: center;
    transition-property: transform;
    transition-duration: 300ms;
    cursor: pointer;

    &.seleccionado{
      background-color: v.$firstColor;
      
      p{
        color: v.$whiteColor;
      }
    }

    &:hover{
      transform: scale(1.1);
    }
    
    p{
      color: v.$blackColor;
      margin: 0 0 calc(v.$separacion / 4);
    }

    .nombre-servicio,
    .precio-servicio,
    .cama-servicio{
      font-weight: v.$bold;
    }

    .nombre-servicio{
      color: v.$secondColor;
      font-size: 2rem;
    }

    .precio-servicio{
      color: v.$firstColor;
      font-size: 3rem;
      margin: 0;
    }

    .cama-servicio{
      color: v.$thirdColor;
    }
  }
}